@use '../../styles/_variables' as *;

.profile_item{
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
    font-size: 13pt;
  
    &_label {
        flex-shrink: 0;
        white-space: nowrap;
        color: $info-item-label-color;
    }
  
    &_dots {
        flex-grow: 1;
        border-bottom: 1px dotted $info-item-dot-color;
        transform: translateY(0.2em);
        margin: 0 6px;
    }
  
    &_value {
        flex-shrink: 0;
        white-space: nowrap;
        font-weight: 500;
    }

}