
.list_info{
    margin: 15px 20px 0px 20px;

    h1{
        font-size: 24pt;
        margin: 0;
        padding: 0;
    }

    &_list{
        max-width: 350px;
        list-style: none;
        padding: 0;
        margin-right: 10px;
        // margin: 20px 10px;
    }
}