$item-card-hover-bg-color: #f0f0f020; // Background color on hover for item cards
$bg-color-main: #242424; // Main background color for the app
$info-item-label-color: #a5a5a5; // label color for product info items
$info-item-dot-color: #a5a5a575; // color for dots in product info items